@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@font-face {
	font-family: editorial new;
	src: url(fonts/EditorialNew-Variable.ttf);
}
@font-face {
	font-family: 'Courier Prime';
	src: url(fonts/CourierPrime-Regular.ttf);
}
@font-face {
	font-family: 'Poppins';
	src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
	font-family: 'Poppins Extra Light';
	src: url(fonts/Poppins-ExtraLight.ttf);
}
@font-face {
	font-family: 'Poppins';
	font-style: italic;
	src: url(fonts/Poppins-Italic.ttf);
}
@font-face {
	font-family: 'Poppins Extra Light';
	font-style: italic;
	src: url(fonts/Poppins-ExtraLightItalic.ttf);
}
@font-face {
	font-family: 'Literata';
	font-style: italic;
	src: url(fonts/Literata-Variable-Italic.ttf);
}
@font-face {
	font-family: 'Literata';
	src: url(fonts/Literata-Variable.ttf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: normal;
	font-size: 1rem;
}

:root {
	font-size: 18px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-size: inherit;
}

img {
	width: 100%;
	display: block;
	max-height: 100vh;
	object-fit: cover;
}

a {
	color: black;
	text-decoration-thickness: 1px;
}
a:hover, a:active {
	color: skyblue;
}


#header {
	padding-top: clamp(3rem, 10vw, 6rem);
	margin-bottom: clamp(3rem, 10vw, 6rem);
	background: linear-gradient(#fbc4a7, white 50%, white);
}
.page-header {
	text-align: center;
	font-family: 'Poppins Extra Light';
	/* font-style: italic; */
	font-size: clamp(1.5rem, 9vw, 3rem );
}
.page-header::before, .page-header::after {
	content: '\1F661   ';
	display: inline-block;
	position: relative;
	top: -.3em;
	font-size: .6em;
	font-style: normal;
}
.page-header::after {
	content: '  \1F662';
}

#skyline-header-logo {
	padding: 0 1rem;
	max-width: 800px;
	margin: auto;
}

#nav {
	gap: .75rem;
	width: fit-content;
	max-width: 500px;
	margin: auto;
	margin-top: 1rem;
	font-family: 'Poppins Extra Light';
	font-style: italic;
	text-align: center;
}
#nav a {
	font-size: 1.2rem;
}


#content {
	margin: 0 auto;
	max-width: 1200px;
	padding: .5rem;
}
.parallax {
	display: block;
}
.image-fullwidth {
	margin: max(2.5rem, 6%) auto;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
}
.image-fullwidth:first-of-type {
	margin-top: 0;
}

.promosection {
	max-width: 28rem;
	margin: 0 auto;
	padding: .25rem .5rem;
	border-radius: .5rem;
	/* border: 1px solid #00000055; */
	/* border-width: 0 1px 0 1px; */
}
/* 4d9de0,e15554,e1bc29,3bb273,7768ae */
.promosection:nth-of-type(4n) {
	--bordercolor: #4d9de0;
}
.promosection:nth-of-type(4n+1) {
	--bordercolor: #e15554;
}
.promosection:nth-of-type(4n+2) {
	--bordercolor: #e1bc29;
}
.promosection:nth-of-type(4n+3) {
	--bordercolor: #3bb273;
}

.tagline {
	margin: 0;
	font-family: 'Literata';
	font-variation-settings: 'wght' 600, 'opsz' 36;
	font-style: italic;
	font-size: clamp(1.4rem, 7vw, 2rem );
	line-height: 1.2;
	padding-bottom: .5rem;
	border-bottom: 4px double skyblue;
}

.promosection#about {
	max-width: 1000px;
}
.twocolumnflex {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 1rem;
}
.twocolumnflex > * {
	min-width: 300px;
	flex: 1;
}
.twocolumnflex img {
	box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
	display: block;
}

p {
	margin: 0;
	line-height: 1.5;
}
p:not(:first-child) {
	margin-top: 1rem; 
}

/* .promoparagraph::first-letter {
	font-family: 'Poppins Extra Light';
	font-size: 2.92rem;
	line-height: 0.9;
	float: left;
	padding-right: 3px;
} */

.provisionslist {
	margin-top: 1rem;
	list-style-type: '\2B29  ';
	list-style-position: inside;
}

.typewriter {
	font-family: 'Courier Prime';
}

blockquote.address {
	padding-left: .5rem;
	border-left: 1px solid black;
}

td:nth-of-type(2) {
	padding-left: .5rem;
}

#footer {
	width: fit-content;
	margin: 2rem auto;
	margin-top: 4rem;
}
